.row {
    line-height: 2;
}

.dateCell {
    padding: 0 20px;
}

.timeCell {
    text-align: center;
}

.vsCell {
    padding-left: 20px;
}

.scoreCell {
    text-align: center;
}

.win {
    color: #29e51f;
}

.lose {
        color: #ef1616;
}

.countCell {
    text-align: center;
    border-bottom: 1px solid #c9e1ff;
}

.statCell {
    text-align: center;
}

.statCell a {
    transition: color 0.2s;
}

.statCell a:hover {
    color: #ef1616;
}

.days {
    color: #EE6352;
}

.row:hover {
    background-color: #c9e1ff;
    cursor: default;
    color: #0c284c;
}

.row:hover .win {
    color: #0c284c;
}

.row:hover .lose {
    color: #0c284c;
}