.header {
    padding-top: 30px;
    margin-bottom: 45px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 45px;
}

.logo {
    width: 240px;
    height: 165px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url('../../assets/images/sirius-logo.jpg');
    background-size: 200px 146px;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}