.table {
    border: 1px solid #c9e1ff;
    font-size: 30px;
    border-collapse: collapse;
    margin: 0 auto;
}

.row {
}

.headerCell {
    border: 1px solid #c9e1ff;
    padding: 20px;
}

@media (max-width: 660px) {
    .table {
        font-size: 20px;
    }
}